.section-padding {
  padding-top: 120px;
  padding-bottom: 80px;
}
.section-padding {
  padding-top: 120px;
}
.text-justify {
  text-align: justify;
}
.logo-flex {
  max-height: 120px;
  width: auto;
}
@media (max-width: 576px) {
  .logo-flex {
    max-height: 80px;
  }
}

logo-maior {
  max-height: 250x;
  width: auto;
}

@media (max-width: 576px) {
  logo-maior {
    max-height: 80px;
  }
}
.text-justify {
  text-align: justify;
}
